jupyter                   1.0.0
tqdm                      4.49.0
python                    3.6.10
h5py                      2.8.0
astropy                   3.0.5
sunpy                     0.9.4
scikit-image              0.14.1
scikit-learn              0.20.1 
scipy                     1.1.0 
numpy                     1.15.4
tensorboard               1.12.2
tensorflow-gpu            1.12.0 
